<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barrierefreie Navigation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <h1>Barrierefreie Navigation</h1>
    <button id="menu-toggle" class="menu-btn">&#9776;</button>
</header>

<!-- Seitliches Menü -->
<nav id="side-menu" class="side-menu">
    <button id="close-menu" class="close-btn">&times;</button>
    <ul>
        <li><a href="#">Karte</a></li>
        <li><a href="#">Statistiken</a></li>
        <li><a href="#">Informationen & Kontakt</a></li>
    </ul>
</nav>

<!-- Kartencontainer -->
<div id="map-container">
    <div id="map"></div>
</div>

<div id="search-bar">
    <input type="text" id="search-input" placeholder="Zielort eingeben..."/>
    <button id="search-btn">🔍</button>
</div>

<div id="filters">
    <input type="checkbox" id="show-obstacles" checked>
    <label for="show-obstacles">Hindernisse anzeigen</label>
    <br>
    <br>
    <label class="switch">
        <input id="accessibility-switch" type="checkbox">
        <span class="slider round"></span>
    </label>
    <p>Eingeschränkte Mobilität</p>
    <br>
    <button id="navigation-button" class="nav-btn">
        <i class="fa fa-play"></i>
    </button>
</div>


<footer>
    <p>© Gruppe 1 | IKG @ ETH Zürich</p>
</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
