<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessible Navigation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=time.time()) }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
</head>
<body>
<header>
    <h1>Accessible Navigation</h1>
    <button id="menu-toggle" class="menu-btn">&#9776;</button>
</header>

<!-- Seitliches Menü -->
<nav id="side-menu" class="side-menu">
    <button id="close-menu" class="close-btn">&times;</button>
    <ul>
        <li><a id="map-button" href="#">Map</a></li>
        <li><a href="#" id="statistics-link">Statistics</a></li>
        <li><a href="#" id="info-contact-link">Information & Contact</a></li>
    </ul>
    <div id="info-contact" class="info-contact">

        <h1>Information & Contact</h1>
        <p>Dear User,
            Welcome to this Accessible Navigation Map. This website was created within a semester project and aims to
            offer
            a navigation for regular & physically disabled people in the city of Zurich.
            <br>
            Following, a detailed description of how to proceed is scripted.
        </p>
        <br>
        <h2>Step-by-Step Instruction:</h2>
        <h4>1. Permission of position</h4>
        <p>Allow the website to access your position.</p>

        <h4>2. Enter destination</h4>
        <p>Put your suggested destination into the box telling "Enter destination...".</p>

        <h4>3. Choice of Mobility</h4>
        <p>Choose whether the navigation should be applied for physically disabled people and therefore avoid steep
            streets.</p>

        <h4>4. Start navigation</h4>
        <p>The navigation can be started by pressing the play-Button. A suitable route should be suggested within a few
            seconds.</p>>

        <h4>5. Obstacles</h4>
        <p>Whenever an obstacle occurs on your trip, please mark it by pressing the triangular sign. You can choose the
            severity of the obstacle (1-5).</p>>

        <h4>6. Stop navigation</h4>
        <p>To stop the navigation, press the pause-Button. In case of arriving at the suggested destination, you will
            get a
            message and the navigation will stop automatically.</p>
        <br>
        <h2>Contact</h2>
        <p>For further information please contact <a href="mailto:jujansen@student.ethz.ch">jujansen@student.ethz.ch</a>.
        </p>
    </div>
</nav>

<!-- Kartencontainer -->
<div id="map-container">
    <div id="map"></div>
</div>

<div id="search-bar">
    <label for="search-input"></label><input type="text" id="search-input" placeholder="Enter Destination..."/>
    <button id="search-btn">🔍</button>
</div>

<div id="filters">
    <input type="checkbox" id="show-obstacles">
    <label for="show-obstacles">Show Obstacles</label>
    <br>
    <br>
    <label class="switch">
        <input id="accessibility-switch" type="checkbox">
        <span class="slider round"></span>
    </label>
    <p>Reduced Mobility</p>
    <br>
    <button id="navigation-button" class="nav-btn">
        <i class="fa fa-play"></i>
    </button>
    <p>Start Navigating</p>
    <button id="stop-navigation" class="stop-btn">
        <i class="fa fa-pause"></i>
    </button>
    <p>Stop Navigating</p>
    <br>
    <button id="obstacle" class="obstacle-btn">
        <i class="fa fa-exclamation-triangle"></i>
    </button>
    <p>Record Obstacle</p>
</div>

<!-- Add this inside the body tag -->
<div id="legend" style="display: none;">
    <h3>Heatmap Legend</h3>
    <p><span style="background-color: red; width: 20px; height: 20px; display: inline-block;"></span> High Density</p>
    <p><span style="background-color: yellow; width: 20px; height: 20px; display: inline-block;"></span> Medium Density
    </p>
    <p><span style="background-color: green; width: 20px; height: 20px; display: inline-block;"></span> Low Density</p>
</div>

<div id="obstacle-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>How severe is the obstacle?</h2>
        <label for="severity">Severity (1-5):</label>
        <input type="number" id="severity" name="severity" min="1" max="5">
        <button id="submit-obstacle">Report Obstacle</button>
    </div>
</div>

<div id="cookie-notification" class="cookie-notification">
    <p>We use cookies to ensure you get the best experience on our website.</p>
    <button id="accept-cookies">Accept</button>
</div>


<footer>
    <p>© Group 1 | IKG @ ETH Zurich</p>
</footer>

<script src="{{ url_for('static', filename='js/script.js', v=time.time()) }}"></script>
</body>
</html>
